<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Nevernote -2.0</title>

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link href="/css/main.css" rel="stylesheet"/>
    <script src="/js/main.js"></script>

    <script th:inline="javascript">
    /*<![CDATA[*/
        var globals = {
            selectedNoteId: [[${selectedNote == null ? null : selectedNote.id}]],
            currUserId: [[${currentUserId}]],
            permission: [[${permission}]],
        };
    /*]]>*/
    </script>
</head>
<body>
    <div th:include="topNav"></div>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <form action="#" th:action="@{'/notes'}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" id="search" th:value="${search}" placeholder="Search in Notes" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </form>
                </li>
                <li th:each="note : ${notes}">
                    <a th:href="@{'/notes'(noteId=${note.id},search=${search})}">
                        <div class="clearfix">
                            <div th:text="${note.title}"></div>
                            <div><span class="badge" th:each="label : ${note.tags}" th:text="${label}"></span></div>
                        </div>
                    </a>
                </li>
            </ul>
            <a class="plus-button" href="/notes/new"></a>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" th:if="${selectedNote != null}">

                        <div class="row">
                            <div class="col-lg-12 mainContent">
                                <form action="#" method="POST" th:action="@{/notes/save}" th:object="${selectedNote}">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="header clearfix">
                                        <h1 class="pull-left" editable="text" permCheck="WRITE"><input type="text" th:field="*{title}" /></h1>
                                        <div class="pull-right button-group">
                                            <button type="submit" class="btn btn-primary" permCheck="WRITE">Save</button>
                                            <a class="btn btn-danger" th:href="@{'/notes/delete'(noteId=${selectedNote.id})}" permCheck="WRITE"><i class="glyphicon glyphicon-trash"></i></a>
                                            <button type="button" class="btn btn-default" onclick="toggleShare()" permCheck="WRITE"><i class="glyphicon glyphicon-user"></i></button>
                                        </div>
                                    </div>

                                    <div class="labels" editable="label" permCheck="WRITE"><input type="hidden" th:field="*{tags}"/></div>
                                    <br />
                                    <div class="text" editable="textarea" permCheck="WRITE"><textarea th:field="*{text}"></textarea><div class="textview"></div></div>
                                </form>
                                <br />
                                <div class="attachments">
                                    <h3>Attachments</h3>
                                    <table class="table" id="attachmentTable">
                                        <tbody>
                                            <tr th:each="att : ${selectedNote.attachments}">
                                                <td th:text="${att.name}"></td>
                                                <td><a class="glyphicon glyphicon-download" th:href="@{/api/note/file(fileId=${att.path})}" target="_blank"></a></td>
                                                <td><a href="#" class="glyphicon glyphicon-trash" th:onclick="'removeFile(this, \'' + ${att.path} + '\')'" permCheck="WRITE"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <form id="attachmentForm" action="#" enctype="multipart/form-data" permCheck="WRITE">
                                        <input type="hidden" name="id" th:value="${selectedNote.id}"/>
                                        <input type="file" name="file" onchange="uploadFile();"/>
                                    </form>
                                </div>
                                <div class="comments">
                                    <h3>Comments</h3>
                                    <div class="comments-body">
                                        <div class="comment" th:each="comment : ${selectedNote.comments}">
                                            <div class="header"><span class="name" th:text="${comment.name}"></span> commented on <span class="time" th:text="${comment.time}"></span></div>
                                            <div class="text" th:text="${comment.text}"></div>
                                        </div>
                                    </div>
                                    <div class="add-comment" permCheck="COMMENT,WRITE">
                                        <textarea id="addComment" class="form-control"></textarea>
                                        <button class="btn btn-primary" onclick="addComment(this)">Add Comment</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 shares">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="sharing"><input type="text" class="form-control" placeholder="Share note to someone" onblur="shareNote(this)" /></div>
                                    </li>
                                    <li class="list-group-item" th:each="share : ${selectedNote.shares}" th:if="${!share.userId.equals(currentUserId)}">
                                        <span th:text="${share.name}"></span>
                                        <select th:onchange="'changePermissionsTo(this, \'' + ${share.name} + '\')'">
                                            <option value="READ" th:selected="${share.permission.toString().equals('READ')}">Read</option>
                                            <option value="COMMENT" th:selected="${share.permission.toString().equals('COMMENT')}">Comment</option>
                                            <option value="WRITE" th:selected="${share.permission.toString().equals('WRITE')}">Write</option>
                                        </select>
                                        <a href="#" th:onclick="'stopSharingNote(this, \'' + ${share.userId} + '\')'" class="pull-right glyphicon glyphicon-remove"></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>