<nav class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle pull-left" id="menu-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Nevernote -2.0</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" onclick="logout()"><i class="glyphicon glyphicon-log-out"></i></a>
                <form th:action="@{/logout}" method="post" id="logoutForm"></form>
            </li>
        </ul>
    </div>
</nav>