body {
  padding-top: 70px
}

.navbar-right {
    margin-right: 0;
}

.badge {
  margin: 0 2px;
}

.plus-button {
  background: red;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  box-shadow: 0px 0px 3px 0px #555;
}
.plus-button:before {
  content: '+';
  font-size: 30px;
  padding: 0 11px;
}
a.plus-button:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 6px 0px #555;
}

.navbar {
  margin-bottom: 0;
}

.container-fluid .header h1 {
  margin-top: 0;
}

input[readonly] {
    border: none;
    cursor: text;
}
textarea {
  width: 100%;
  min-height: 150px;
}

.shares {
  display: none;
  border-left: 1px solid #e7e7e7;
  min-height: 200px;
}

.mainContent .text .textview {
    min-height: 100px;
    width: 100%;
    cursor: text;
}

.mainContent .badge a {
    color: white;
}

.mainContent .labels-inner {
    display: inline-block;
}

.mainContent .add-labels-input {
    border: none;
    margin: 0 5px;
}

.comments .header .name,
.comments .header .time {
    font-weight: bold;
}

.comments .comment {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  top: 51px;
  width: 0;
  height: calc(100% - 51px);
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid #e7e7e7;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  margin: 5px 10px;
  border-bottom: 1px solid #e7e7e7;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
  padding: 10px 5px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #555;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
  }
}
